@import "globalVariables";

@mixin table {
  table {
    background-color: rgb(221, 221, 221);
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 10px 10px #646464;
    table-layout: fixed;
  }

  th {
    background-color: $commonBlue;
    height: 40px;
    font-size: 25px;
    text-align: center;
    color: white;
  }

  th:nth-child(2) {
    text-align: center;
  }

  thead tr {
    background-color: gray;
    color: #ffffff;
    text-align: center;
  }
  th,
  td {
    padding: 12px 15px;
    overflow-wrap: break-word;
  }
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
}

/* use sass to @use dialogue @mixins*/
@mixin Dialogue {
  h1 {
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 50px;
    padding-top: 5px;
    background-color: $commonBlue;
    color: white;
    margin-bottom: 30px;
    box-shadow: 0px 10px 10px rgb(66, 66, 66);
  }

  .DialogueContent {
    padding: 0px 30px;
    overflow: auto;
    height: calc(100% - 140px);

    h2 {
      font-size: 30px;
      padding: 10px 0px 20px 0px;
      text-decoration: underline;
      text-decoration-thickness: 4px;
      text-decoration-color: $commonBlue;
    }

    form {
      input[type="text"],
      input[type="password"],
      input[type="number"] {
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid $commonBlue;
      }
      input[type="submit"] {
        float: right;
        border: none;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 0px 4px 8px;
        transition-duration: 0.4s;
        cursor: pointer;

        background-color: white;
        color: black;
        border: 2px solid $commonBlue;
      }
      input[type="submit"]:hover {
        background-color: $commonBlue;
        color: white;
      }
    }
  }
}

/* MAIN PANEL */
.mainPanel {
  width: calc(100vw - 250px);
  height: calc(100vh - 70px);
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 10px 20px rgb(66, 66, 66) inset;
  overflow-y: auto;

  @mixin myButton() {
    button {
      height: 20px;
      border: none;
      padding: 4px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 0px 4px 8px;
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 5px;

      background-color: white;
      color: black;
      border: 2px solid $commonBlue;
    }
    button:hover {
      background-color: $commonBlue;
      color: white;
    }
  }

  @mixin Components($comWidth, $comHeight) {
    div {
      display: inline-block;
      width: $comWidth;
      height: $comHeight;
      margin: auto 15px;
      border: 4px solid $darkBlue;
      box-shadow: 10px 10px #646464;

      header {
        background-color: $commonBlue;
        padding: 10px 0px;
        font-size: 20px;
        text-align: center;
        color: white;
      }

      ul {
        width: 90%;
        margin-top: 10px;
        margin-left: 20px;
        list-style-type: none;
      }

      li {
        font-size: 16px;
        overflow: hidden;
      }

      button {
        height: 35px;
        padding: 2px 15px;

        color: $darkBlue;
        font-weight: bold;
        font-size: 20px;

        background-color: white;
        border: 3px solid $darkBlue;
        border-radius: 8px;
        box-shadow: 3px 3px 0px rgb(85, 85, 85);
      }
    }
  }
  .serverPanel {
    width: 100%;
    height: calc(100% - 50px);

    .backupComponents {
      margin: 60px auto;
      box-shadow: 10px 10px #646464;
      border: 4px solid black;
      margin: 50px 5% 50px 5%;

      h1 {
        height: 80px;
        text-align: center;
        font-size: 50px;
        padding-top: 5px;
        background-color: $commonBlue;
        color: white;
        margin-bottom: 30px;
        box-shadow: 0px 10px 10px rgb(66, 66, 66);

        button.addBU {
          height: 40px;
          border: none;
          padding: 4px 8px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          margin: 10px 20px;
          transition-duration: 0.4s;
          cursor: pointer;
          border-radius: 10px;
          font-size: 30px;
          float: right;

          background-color: white;
          color: $darkBlue;
          border: 5px solid $darkBlue;
        }
        button.addBU:hover {
          background-color: $commonBlue;
          color: white;
        }
      }

      .components {
        padding: 20px 0px 50px 0px;
        overflow-x: auto;
        white-space: nowrap;
        @include Components(180px, 220px);

        button {
          margin: 10px 0px 10px 50%;
        }
      }
    }

    .tables {
      display: flex;

      @include table;

      .statsTable {
        border-collapse: collapse;
        margin: auto;

        td:nth-child(1) {
          width: 150px;
        }
        td:nth-child(2) {
          width: 50px;
          text-align: right;
        }
      }

      .errorsTable {
        border-collapse: collapse;
        margin: auto;

        td:nth-child(1) {
          width: 150px;
        }

        td:nth-child(2) {
          width: 150px;
        }

        td:nth-child(3) {
          width: 300px;
        }
      }
    }
  }

  .configPanel {
    .half {
      height: calc(100vh - 190px);
      width: calc(50vw - 290px);
      margin: 60px auto;
      overflow-y: auto;
      font-size: 16px;
      box-shadow: 10px 10px #646464;
      border: 4px solid black;

      .editConfig {
        @include Dialogue();
        padding-bottom: 30px;

        .saveTypeOptions {
          display: flex;
          align-items: center;
          input[type="number"] {
            text-align: right;
            width: 40%;
          }
          label {
            margin-left: 5%;
          }
          label:first-child {
            margin-left: 0px;
          }
        }

        form {
          input[type="text"] {
            font-size: 20px;
            width: calc(100% - 130px);
          }
        }

        @include myButton();
        .filterButton {
          margin: 20px 0px;
          font-size: 20px;
          height: 30px;
          float: right;
        }

        .table {
          @include table();
          overflow-y: auto;
          max-height: 30vh;

          table {
            td:first-child {
              width: 50px;
              text-align: center;
            }
            td:last-child {
              width: 100%;
              text-align: left;
            }

            td {
              span {
                float: right;
                font-size: 150%;
              }

              .hovertext:before {
                content: attr(data-hover);
                visibility: hidden;
                opacity: 0;
                background-color: $darkBlue;
                color: #fff;
                text-align: center;
                border-radius: 5px;
                padding: 5px;
                transition: opacity 1s ease-in-out;

                z-index: 1;
                left: 0;
                top: 110%;
              }

              .hovertext:hover:before {
                opacity: 1;
                visibility: visible;
              }
            }
          }
          table.sources {
            width: 100%;
          }
        }

        input[type="time"] {
          border-color: $commonBlue;
          font-size: 20px;
          float: right;
          padding: 0px 10px;
        }

        input[type="checkbox"],
        input[type="radio"] {
          margin: 8px 2px 0px auto;
        }
        input[type="checkbox"]:first-child,
        input[type="radio"]:first-child {
          margin-left: 0px;
        }
        label {
          font-size: 20px;
        }
      }

      .deamonAssignment {
        h1 {
          width: 100%;
          height: 80px;
          text-align: center;
          font-size: 50px;
          padding-top: 5px;
          background-color: $commonBlue;
          color: white;
          margin-bottom: 30px;
          box-shadow: 0px 10px 10px rgb(66, 66, 66);
        }

        input[type="text"] {
          width: calc(100% - 140px);
          font-size: 20px;
          padding: 12px 20px;
          margin: 8px auto 30px auto;
          box-sizing: border-box;
          border: none;
          border-bottom: 2px solid $commonBlue;
        }

        @include myButton();
        .filterButton {
          margin: 20px;
          font-size: 20px;
          height: 30px;
          width: 50px;
        }

        @include table();

        margin: auto;
        text-align: right;
        font-size: 18px;

        td:nth-child(1) {
          width: 25px;
        }
        td:nth-child(2) {
          width: 100%;
        }
        td:nth-child(3) {
          width: 10px;
          text-align: center;
        }
        td:nth-child(4) {
          width: 30px;
          text-align: center;
        }
      }
    }
    height: 100%;
  }

  .deamonPanel {
    background-color: blue;
  }
}
