<section *ngIf="loaded" class="configList">
  <header>
    List of configs
    <button
      type="button"
      class="btn btn-primary"
      (click)="changeDialogue('newBackup')"
    >
      Add</button
    >
    <!-- <button
      type="button"
      class="btn btn-primary"
      (click)="changeDialogue('filterConfigs')"
    >
      Filter
    </button> -->
  </header>
  <table>
    <tbody>
      <tr>
        <th>Alias</th>
        <th>Active</th>

        <th>Edit</th>
      </tr>
      <tr *ngFor="let config of configs">
        <td>{{ config.alias }}</td>
        <td>{{ config.active ? "✔️ YES" : "❌ NO" }}</td>
        <td><a routerLink="/config/{{ config.id }}">✏️</a></td>
      </tr>
    </tbody>
  </table>
</section>

<app-loading-page *ngIf="!loaded"></app-loading-page>

<app-dia-configs-filter
  *ngIf="activeDialogue == 'filterConfigs'"
></app-dia-configs-filter>

<app-overlay *ngIf="activeDialogue" (click)="changeDialogue('')"></app-overlay>
<app-new-backup *ngIf="activeDialogue == 'newBackup'"></app-new-backup>
