<section class="mainPage">
  <h1>Welcome to the administration panel of our backup system!</h1>
  <section class="components">
    <div>
      <header>Deamons</header>
      <p>List of all deamons on the server</p>
      <button routerLink="/deamons" type="button" class="btn btn-primary">
        Go to 💻
      </button>
    </div>
    <div>
      <header>Stats</header>
      <p>Statistics about the server: events, errors, generat stats</p>
      <button routerLink="/stats" type="button" class="btn btn-primary">
        Go to 📉
      </button>
    </div>
    <div>
      <header>Configs</header>
      <p>List of all configs on the server</p>
      <button routerLink="/configs" type="button" class="btn btn-primary">
        Go to 💾
      </button>
    </div>
  </section>
</section>
