/* Bigger Dialog*/
.BigDialog {
  padding: 30px 30px 30px 30px;
  overflow: scroll;
  height: 100%;
}

.BigDialog h2 {
  font-size: 30px;
  padding: 10px 0px 20px 0px;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  -webkit-text-decoration-color: #00568f;
          text-decoration-color: #00568f;
}

.BigDialog form {
  overflow: scroll;
}

.BigDialog form input[type="text"],
.BigDialog form input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #00568f;
}

.BigDialog form input[type="submit"] {
  float: none;
  border: none;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px 4px 8px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #00568f;
}

.BigDialog form input[type="submit"]:hover {
  background-color: #00568f;
  color: white;
}

.Login {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  width: 400px;
  height: 300px;
}

.Login h1 {
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 50px;
  padding-top: 5px;
  background-color: #00568f;
  color: white;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 10px 10px #424242;
          box-shadow: 0px 10px 10px #424242;
}

.Login .DialogueContent {
  padding: 00px 30px 0px 30px;
  overflow: scroll;
  height: calc(100% - 140px);
}

.Login .DialogueContent h2 {
  font-size: 30px;
  padding: 10px 0px 20px 0px;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  -webkit-text-decoration-color: #00568f;
          text-decoration-color: #00568f;
}

.Login .DialogueContent form input[type="text"],
.Login .DialogueContent form input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #00568f;
}

.Login .DialogueContent form input[type="submit"] {
  float: none;
  border: none;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px 4px 8px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #00568f;
}

.Login .DialogueContent form input[type="submit"]:hover {
  background-color: #00568f;
  color: white;
}

.Alias {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  width: 400px;
  height: 300px;
}

.Alias h1 {
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 50px;
  padding-top: 5px;
  background-color: #00568f;
  color: white;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 10px 10px #424242;
          box-shadow: 0px 10px 10px #424242;
}

.Alias .DialogueContent {
  padding: 00px 30px 0px 30px;
  overflow: scroll;
  height: calc(100% - 140px);
}

.Alias .DialogueContent h2 {
  font-size: 30px;
  padding: 10px 0px 20px 0px;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  -webkit-text-decoration-color: #00568f;
          text-decoration-color: #00568f;
}

.Alias .DialogueContent form input[type="text"],
.Alias .DialogueContent form input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #00568f;
}

.Alias .DialogueContent form input[type="submit"] {
  float: none;
  border: none;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px 4px 8px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #00568f;
}

.Alias .DialogueContent form input[type="submit"]:hover {
  background-color: #00568f;
  color: white;
}

.NewBackUP {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.NewBackUP h1 {
  width: 100%;
  height: 90px;
  text-align: center;
  font-size: 50px;
  padding-top: 5px;
  background-color: #00568f;
  color: white;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 10px 10px #424242;
          box-shadow: 0px 10px 10px #424242;
}

/* Overlay */
.DialogueOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 5;
}

.TextClass {
  background-color: white;
}

.Emails {
  position: absolute;
  width: 45%;
  height: 50%;
  border: 5px outset double white;
  border-radius: 5%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 10px 10px #424242;
          box-shadow: 0px 10px 10px #424242;
  left: 50%;
}

.Emails h3 {
  background-color: #00568f;
  text-align: center;
  color: white;
}

.Emails h3 table {
  color: aliceblue;
}

.BackUpTime {
  position: absolute;
  width: 45%;
  height: 50%;
  border: 5px outset double white;
  border-radius: 5%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 10px 10px #424242;
          box-shadow: 0px 10px 10px #424242;
  left: 4%;
}

.BackUpTime h3 {
  text-align: center;
  background-color: #00568f;
  color: white;
}

.BackUpTime Time {
  position: absolute;
  width: 40%;
  height: 50%;
  border: 5px outset double white;
  border-radius: 5%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 10px 10px #424242;
          box-shadow: 0px 10px 10px #424242;
}

.BackupType {
  top: 100%;
  position: absolute;
  width: 40%;
  height: 50%;
  border: 5px outset double white;
  border-radius: 5%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 10px 10px #424242;
          box-shadow: 0px 10px 10px #424242;
}

.SaveType {
  top: 100%;
  position: absolute;
  width: 45%;
  height: 50%;
  left: 50%;
  border: 5px outset double white;
  border-radius: 5%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 10px 10px #424242;
          box-shadow: 0px 10px 10px #424242;
}
/*# sourceMappingURL=dialogues.css.map */