<section class="AddDest">
  <h1>Add Destination<span class="exit">✖</span></h1>
  <div class="DialogueContent">
    <form>
      <label>Destination route</label>
      <input
        type="text"
        class="form"
        id="destination"
        placeholder="\....\....\..."
        name="Destination"
      /><br /><br />

      <h2>Choose save type</h2>
      <input class="Radio" type="radio" id="LOCAL" name="TYPE" />
      <label for="LOCAL">LOCAL</label>
      <input type="radio" id="FTP" name="TYPE" />
      <label for="FTP">FTP</label>
      <input type="radio" id="NETWROK" name="TYPE" />
      <label for="NETWROK">NETWORK</label>
      <br /><br />
      <div class="AddDest Options">
        <br />
        <h3>IP Adress</h3>
        <input type="Text" />
        <br /><br /><br />
        <h3>FTP Username</h3>
        <input type="text" />
      </div>
      <div class="AddDest Options Hidden">
        <br />
        <br />
        <br />
        <br />
        <h3>IP Adress</h3>
        <input type="Text" />
        <br />
      </div>

      <br /><br /><br />
      <br />

      <br /><br />
      <input style="top: 600px" type="submit" value="ADD" />
    </form>
  </div>
</section>
