/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

$darkBlue: rgb(28, 40, 48);
$commonBlue: rgb(0, 86, 143);
$btnShadowGray: rgb(85, 85, 85);

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
}

.hidden {
  display: none;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sideBySide {
  display: flex;
  .half{
    width: 50%;
  }
}

@import url("styles/dialogues.css");
@import url("styles/topPanel.css");
@import url("styles/sidePanel.css");
@import url("styles/mainPanel.css");
