<section class="Filters">
  <h1>Filters<span class="exit">✖</span></h1>
  <div class="DialogueContent">
    <form>
      <label>Alias</label>
      <input type="text" />
      <br /><br />
      <h3>Selected</h3>
      <input id="Selected" type="checkbox" /> <br /><br />

      <h3>Status</h3>
      <label>Active</label> <input id="Active" type="checkbox" />
      <label>Banned</label> <input id="Active" type="checkbox" />
      <label>Offline</label> <input id="Ofline" type="checkbox" />
      <br /><br />
      <h3>Has Errors</h3>
      <input id="Errors" type="checkbox" /><br />
      <input type="Submit" value="FILTER" />
    </form>
  </div>
</section>