<section class="editConfig">
  <h1>Edit Config</h1>
  <div class="DialogueContent">
    <app-loading-page *ngIf="!this.formLoaded"></app-loading-page>
    <form [formGroup]="form" *ngIf="this.formLoaded">
      <h2>Alias:</h2>
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="confAlias"
          placeholder="Alias"
        />
        <mat-error *ngIf="confAlias?.invalid">
          Minimum of 3 characters!
        </mat-error>
      </mat-form-field>
      <br />
      <br />
      <label for="BUsize">Active: </label>
      <button (click)="switchState()" class="btn btn-light">
        {{ getState() }}
      </button>
      <h2>Save type:</h2>
      <section class="sideBySide">
        <input type="radio" formControlName="SaveType" value="1" />
        <label for="Full">Full</label><br />

        <input type="radio" formControlName="SaveType" value="2" />
        <label for="differential">Differential</label><br />

        <input type="radio" formControlName="SaveType" value="3" />
        <label for="incremental">Incremental</label>
      </section>
      <br />
      <section class="saveTypeOptions">
        <mat-form-field>
          <input
            matInput
            type="number"
            formControlName="size"
            placeholder="Enter max package size"
          />
          <mat-error *ngIf="size?.invalid"> minimum of 1! </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input
            matInput
            type="number"
            formControlName="count"
            placeholder="Enter max package count"
          />
          <mat-error *ngIf="count?.invalid"> minimum of 1! </mat-error>
        </mat-form-field>
      </section>
      <br />
      <h2>Sources:</h2>
      <section class="table">
        <table class="sources">
          <tbody>
            <tr>
              <th>Path</th>
            </tr>
            <tr *ngFor="let src of sources">
              <td>
                {{ src.sourcePath }}
                <span (click)="btnRemoveSource(src.id)"> ❌ </span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="sourcePath"
          placeholder="Enter path"
          name="enterPath"
        />
      </mat-form-field>
      <button
        [disabled]="sourcePath?.invalid"
        type="button"
        class="status btn btn-primary"
        (click)="btnAddSource()"
      >
        Add path
      </button>
      <br /><br />
      <h2>Destinations:</h2>
      <section class="table">
        <table>
          <tbody>
            <tr>
              <th>Type</th>
              <th>Path</th>
            </tr>

            <tr *ngFor="let dest of Destinations">
              <td>{{ saveTypeStr(dest.saveType) }}</td>
              <td>
                {{ dest.path }}
                <span (click)="btnRemoveDest(dest.id)"> ❌ </span>
                <span (click)="editDest(dest.id)"> ✏️ </span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <button
        type="button"
        (click)="btnAddDest()"
        class="status btn btn-primary"
      >
        Add destination
      </button>
      <br />
      <h2>Backup Time:</h2>
      <section class="sideBySide">
        <input
          formControlName="buDaysMo"
          type="checkbox"
          id="Mon"
          name="Monday"
          value="Mon"
        />
        <label for="Monday"> Mon</label>
        <input
          formControlName="buDaysTu"
          type="checkbox"
          id="Tue"
          name="Tuesday"
          value="Tue"
        />
        <label for="Tuesday"> Tue</label>
        <input
          formControlName="buDaysWe"
          type="checkbox"
          id="Wed"
          name="Wednesday"
          value="Wed"
        />
        <label for="Wednesday"> Wed</label>
        <input
          formControlName="buDaysTh"
          type="checkbox"
          id="Thu"
          name="Thursday"
          value="Thu"
        />
        <label for="Thursday"> Thu</label>
        <input
          formControlName="buDaysFr"
          type="checkbox"
          id="Fri"
          name="Friday"
          value="Fri"
        />
        <label for="Friday"> Fri</label>
        <input
          formControlName="buDaysSa"
          type="checkbox"
          id="Sat"
          name="Saturday"
          value="Sat"
        />
        <label for="Saturday"> Sat</label>
        <input
          formControlName="buDaysSu"
          type="checkbox"
          id="Sun"
          name="Sunday"
          value="Sun"
        />
        <label for="Sunday"> Sun</label>
      </section>
      <br />
      <label for="BUtime">Choose backup time: </label>
      <input
        formControlName="buTime"
        type="time"
        id="backupTime"
        name="BUtime"
      />
      <br />
      <h2>Email notification:</h2>
      <mat-form-field>
        <input
          matInput
          formControlName="email"
          placeholder="Enter your email"
          type="text"
        />
        <mat-error *ngIf="email?.invalid && email?.touched">
          Incorrect email address!
        </mat-error>
      </mat-form-field>
      <section class="sideBySide">
        <input type="radio" formControlName="mailTimeCron" value="sameAsBU" />
        <label for="AfterBackup">After backup</label>
        <input
          type="radio"
          formControlName="mailTimeCron"
          value="59 59 23 31 12 ? 2099"
        />
        <label for="WeekSummary">Never</label>
      </section>
      <button
        class="btn btn-success"
        [disabled]="form.invalid"
        (click)="saveChanges()"
      >
        {{saveBtnText}}
      </button>
      <button class="btn btn-danger" (click)="deleteConf()">Delete</button>
    </form>
  </div>
</section>
